/*
    Mobile Menu Core Style
*/

.slicknav_btn {
  line-height: 1.125em;

  position: relative;

  display: block;
  float: left;

  padding: .438em .625em .438em .625em;

  cursor: pointer;
  vertical-align: middle;
}

.slicknav_menu {
  .slicknav_menutxt {
    line-height: 1.188em;

    display: block;
    float: left;
  }
  .slicknav_icon {
    float: left;

    margin: .188em 0 0 .438em;
  }
  .slicknav_no-text {
    margin: 0;
  }
  .slicknav_icon-bar {
    display: block;

    width: 1.125em;
    height: .133em;

    border-radius: 1px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, .25);
  }
}

.slicknav_btn .slicknav_icon-bar + .slicknav_icon-bar {
  margin-top: .188em;
}

.slicknav_nav {
  clear: both;
  ul,
  li {
    display: block;
  }
  .slicknav_arrow {
    font-size: .8em;

    float: right;

    margin-right: 30px;

    color: green;
  }
  .slicknav_item {
    cursor: pointer;
  }
  .slicknav_row,
  a {
    display: block;
  }
  .slicknav_item a,
  .slicknav_parent-link a {
    display: inline;
  }
}

.slicknav_menu {
  font-size: 16px;

  *zoom: 1;
  &:before {
    display: table;

    content: ' ';
  }
  &:after {
    display: table;
    clear: both;

    content: ' ';
  }
}



.slicknav_btn {
  position: absolute;
  z-index: 20;
  top: 50px;
  right: 10px;

  box-sizing: border-box;
  margin: 5px 5px 6px;

  text-decoration: none;

  border: 2px solid #3c8f12;
  border-radius: 3px;
  background: linear-gradient(left, #05692c, #357c0e);
  text-shadow: 0 1px 1px rgba(255, 255, 255, .75);
}

/* Button Text */

.slicknav_menu {
  .slicknav_menutxt {
    font-weight: bold;

    color: #fff;
    text-shadow: 0 1px 3px #000;
  }
  .slicknav_icon-bar {
    background-color: #f5f5f5;
  }
}

/* Button Lines */

.slicknav_nav {
  font-size: .875em;

  position: absolute;
  z-index: 30;
  top: 120px;
  right: 0;

  float: right;
  overflow: hidden;

  width: 245px;
  margin: 0;
  padding: 0;

  list-style: none;

  color: #fff;
  border-bottom: 3px solid rgba(132, 255, 0, .6);
  border-left: 3px solid rgba(132, 255, 0, .6);
  background: rgb(0, 0, 0);
  box-shadow: -15px 2px 20px rgba(7, 50, 1, .8);
  ul {
    overflow: hidden;

    margin: 0 0 0 20px;
    padding: 0;

    list-style: none;
  }
  .slicknav_row {
    margin: 2px 5px;
    padding: 10px 10px;
  }
  a {
    margin: 2px 5px;
    padding: 10px 10px;

    text-decoration: none;

    color: #fff;
    &:hover,
    &:visited {
      text-decoration: none;
    }
  }
  .slicknav_item a,
  .slicknav_parent-link a {
    margin: 0;
    padding: 0;
  }
  .slicknav_row:hover {
    color: #fff;
    border-radius: 6px;
    background: rgba(204, 204, 204, .28);
  }
  a:hover {
    color: #fff;
    border-radius: 6px;
    background: rgba(204, 204, 204, .28);
  }
  .slicknav_txtnode {
    margin-left: 15px;
  }
}

.mobile-menu a {
  text-decoration: none;

  color: #fff;
}
